.trend .icon__svg{height:14px;width:14px}.trend.positive{color:#094}.trend.positive .icon__svg{fill:#094}.trend.negative{color:#d00}.trend.negative .icon__svg{fill:#d00}.trend_header{display:inline}.trend_header .icon__svg{height:14px;width:15px}.TeamLink__Logo{margin:-3px 0 -4px}.Table2__title--remove-capitalization .Table__Title{text-transform:none}th.tc.Table__TH{background-color:#fff}.ResponsiveTable--dark th.tc.Table__TH{background-color:#1d1e1f}svg.ArrowIcon__TableSort.icon__svg{display:inline-block;height:10px;width:10px;margin-left:4px}table.Table.Table--align-right.Table--fixed.Table--fixed-left{max-width:20%}.bp-mobile table.Table.Table--align-right.Table--fixed.Table--fixed-left{max-width:35%}.bp-tabletPlus table.Table.Table--align-right.Table--fixed.Table--fixed-left{max-width:50%}@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0){@media{table.Table.Table--align-right.Table--fixed.Table--fixed-left{max-width:35%}}}th.group-none{min-width:3rem}.FPI__Table--fpi.league-nfl .Table__TH{min-width:2rem;width:11%}.FPI__Table--fpi.league-college-football .Table__TH.group-POWER-INDEX{min-width:2rem;width:7%}.FPI__Table--fpi.league-college-football .Table__TH.group-PROJECTIONS{min-width:4rem;width:8.7%}.FPI__Table--projections .Table__TH{min-width:4rem;width:14.28%}.FPI__Table--resume .Table__TH.group-RANKS{min-width:3rem;width:14.28%}.FPI__Table--efficiencies .Table__TH{min-width:2rem;width:12.5%}
/*
     FILE ARCHIVED ON 11:36:01 Dec 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:30:35 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 124.987
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.085
  cdx.remote: 0.07
  esindex: 0.011
  LoadShardBlock: 79.82 (3)
  PetaboxLoader3.datanode: 94.868 (4)
  load_resource: 89.155
  PetaboxLoader3.resolve: 68.066
*/